body{
    margin:auto ;
}
input{
    margin: auto;
}

a{
    margin-top: 5px;
    padding: 5px;    
    text-decoration: none;    
    border-radius: 5px;
    color: aliceblue !important;
}

.body2{
    background-color: rgb(21, 196, 79) !important;
}
